.carousel .carouselItem {
    width: 100%;
}

.alert {
    min-height: 200px;
}

.heading {
    font-family: "Smooch";
    text-decoration: underline;
}

p.message {
    font-size: 24px;
}

p.writer {
    text-decoration: underline;
    position: absolute;
    right: 200px;
    bottom: 0px;
    font-size: medium;
}

.photo {
    max-height: 90%;
    max-width: 30%;
    filter: invert(100%);
    position: absolute;
    left: 5px;
    top: 10px;
}
