.carousel .carouselItem {
    width: 100%;
}

.NORMAL {
    min-height: 200px;
}

.EMERGENCY{
    min-height: 200px;
    background-color: rgb(206, 157, 152);

}

.announcementIcon{
    position:absolute;
    right: 30px;
    top: 15px;
    height: 10vmin;
    
}

.EMERGENCYHeading {
    font-family: "Smooch";
    text-decoration: underline;
    color: rgb(5, 5, 5);
}

p.EMERGENCYMessage{
    font-size: 24px;
    color: rgb(5, 5, 5);
}

p.EMERGENCYWriter {
    text-decoration: underline;
    position: absolute;
    right: 200px;
    bottom: 0px;
    font-size: medium;
    color: rgb(5, 5, 5);
}

.NORMALHeading {
    font-family: "Smooch";
    text-decoration: underline;
}

p.NORMALMessage {
    font-size: 24px;
}

p.NORMALWriter {
    text-decoration: underline;
    position: absolute;
    right: 200px;
    bottom: 0px;
    font-size: medium;
}

.photo {
    max-height: 90%;
    max-width: 30%;
    filter: invert(100%);
    position: absolute;
    left: 5px;
    top: 10px;
}
