.App {
    text-align: center;
}

.icon {
    height: 5vmin;
    pointer-events: none;
    padding-right: 3vmin;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

.logo {
    text-align: left;
}

.App-header {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.heading{
    color: rgb(17, 16, 16);
    text-shadow: 5px 5px 10px black;
    font-family: 'Smooch', cursive;
    font-size: 1.7em;
    text-decoration: underline;
}






