.Visualization {
    text-align: center;
}

.icon {
    height: 5vmin;
    pointer-events: none;
    padding-right: 3vmin;
    filter: invert(100%);
}

.logo {
    text-align: left;
}

.Visualization-header {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
