.Admin {
    text-align: left;
}

.Admin-logo {
    height: 40vmin;
    pointer-events: none;
}

.Admin-header {
    background-color: rgb(169, 189, 197);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(15, 15, 15);
}

label {
    text-align: left;
    display: block;
    color: rgb(27, 28, 29);
    box-sizing: border-box;
    font-size: large;
    margin: 10px;
}

.showHour input {
    width: fit-content;
    height: fit-content;
}

input {
    width: 500px;
    height: 40px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    resize: none;
}

.authorLabel {
    width: 5px;
    height: 40px;
    display: inline-block;
    padding-right: 20px;
}

.authorInput {
    width: 240px;
    height: 20px;
    display: inline-block;
    margin-left: 50px;
}

textarea {
    width: 500px;
    height: 150px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    resize: none;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px;
    border-radius: 4px;
    font-size: large;
    display: block;
}

.menuAnnouncement {
    position: absolute;
    left: 10px;
}

.hourAndMinutes {
    display: inline-block;
    width: 60px;
    height: 0.2px;
    padding: 10px 10px;
    margin: 0.4rem 0;
}

.date {
    display: inline-block;
    width: 135px;
    height: 25px;
    text-align: center;
    padding: 1px 0px;
}

.PriorityLabel {
    display: inline-block;
}

.priority {
    margin-left: 10px;
}

.deleteGUI{
    display: block;
}

.announcementTable {
    position: absolute;
    left: 300px;
    top: 200px;
}

.announcementTable,
th,
td {
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
    border-color: rgb(87, 82, 82);
    padding: 10px;
    background-color: rgb(111, 157, 158);
}

th {
    background-color: rgb(133, 190, 192);
}

.selectRowCheckbox {
    width: 20px;
    height: 20px;
}

.selectRowButton{
    width: 70px;
    height: 40px;
}

.deleteButton {
    position: relative;
    top: 200px;
    margin: 400px;
}

.photo {
    max-height: 340px;
    max-width: 510px;
    position: relative;
    left: 125px;
}


.deleteSelectionRow{
    background-color:rgb(176, 196, 204);
    max-height: 1px;
    border: 0px;
}

.deleteSelection{
    margin: 0px;
    margin-left: 40%;
    border: 20px;
    background-color:transparent;
}

.icon{
    margin-bottom: 0px;
    height: 6vmin;

}

.icon:active {
    transform: rotate(10deg);
}
