.App {
    text-align: left;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

label {
    text-align: left;
    display: block;
    color: rgb(202, 209, 223);
    box-sizing: border-box;
    font-size: large;
    margin: 10px;
}

.showHour input {
    width: fit-content;
    height: fit-content;
}

input {
    width: 500px;
    height: 40px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    resize: none;
}

.authorLabel label {
    width: 5px;
    height: 40px;
    display: inline-block;
    background-color: transparent;
}

.authorInput {
    width: 500px;
    height: 40px;
    display: inline-block;
}

textarea {
    width: 500px;
    height: 150px;
    padding: 14px 20px;
    margin: 10px;
    border: 1px solid rgb(26, 25, 25);
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    resize: none;
}

button {
    width: 200px;
    height: 50px;
    margin: 20px;
    border-radius: 4px;
    font-size: large;
}

.hourAndMinutes {
    display: inline-block;
    width: 60px;
    height: 0.2px;
    padding: 10px 10px;
    margin: 0.4rem 0;
}

.date {
    display: inline-block;
    width: 135px;
    height: 25px;
    text-align: center;
    padding: 1px 0px;
}

.priority {
    margin-left: 10px;
}
